/*Body*/
body{
    font-family: Arial; 
    background-color: lightgrey;
    margin-left: 7%;
    margin-right: 47.8%;
}

/*Header*/

#Header{
    font-feature-settings: "liga", "kern";
}

/*Linkleiste*/

.Linkleiste1{
    background-color: #9E0B0F;
    height: 27px;
}
.Linkleiste1 ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 7px;
}
.Linkleiste1 li{
    display: inline;
}
.Linkleiste1 a{
    text-decoration: none;
    color: white;
}

/*Logofläche*/
.Logofläche{
    background-color: #BB131A;
    height: 77px;
    font-size: 27px;
    display: flex;
    align-items: center;
}
.Logofläche a{
    text-decoration: none;
    color: white;
}
.Logofläche p{
    padding-left: 30px;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Logofläche img{
    width: 153px;
    height: 50px;
}
.coronavirus{
    display: block;
    flex: 0 0 auto;
    width: 153px;
    height: 50px;
    text-align: right;
    margin-right: 30px;
    margin-left: auto;
}

/*Hellroterbalken*/
#hellrot{
    background-color: #D32824;
    height: 11px;
    margin-top: 0px;
}
#orangeleiste{
    background-color: #E94E38;
    height: 4px;
    margin-top: 0px;
}

/*Linkleiste2*/
.Linkleiste2{
    background-color: #790000;
    height: 27px;
    font-weight: bold;
}
.Linkleiste2 ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 7px;
}
.Linkleiste2 li{
    display: inline;
    color: white;
}
.Linkleiste2 a{
    text-decoration: none;
    color: white;
}

.Linkleiste2 img{
    width: 15px;
    height: 17px;
}

/*Artikel*/
.section_bericht{
    background-color: white;
}
.section_bericht img{
    width: 964px;
    height: 350px;
    background-color: white;
}
.section_bericht article{
    display: block;
}

/*Untere rote Leiste*/
.Untere_rote_Leiste{
    background-color: #9E0B0F;
    height: 21px;
}

/*Untere hellrote Leiste*/
.Untere_hellrote_Leiste{
    background-color: #D32824;
    height: 8px;
}

/*Untere Blaue Linkleiste*/
.Blaue_Linkleiste{
    background-color: #16416B;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.Blaue_Linkleiste ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 2%;
}
.Blaue_Linkleiste li{
    display: inline;
    justify-content: center;
}
.Blaue_Linkleiste a{
    text-decoration: none;
    color: white;
}
.Blaue_Linkleiste img{
    width: 58px;
    height: 25px;
}
